<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beneway.common.dao.syslog.SysLogDao">
    <resultMap id="base" type="com.beneway.common.entity.syslog.SysLog"></resultMap>

</mapper>
